.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .text {
        
        color: var(--error-color);
    }
    .text {
        
        color: var(--error-color);
    }
}