.app_green_theme {
    --bg-color: #F4FBF4;
    --inverted-bg-color: #0b040b;

    --primary-color: #216e20;
    --secondary-color: #F4FBF4;
    --inveted-primary-color: #89db81;
    --inveted-secondary-color: #7180a1;
}
