.app_green_theme {
    --bg-color: #F4FBF4;
    --inverted-bg-color: #0b040b;

    --primary-color: #216e20;
    --secondary-color: #329230;
    --inveted-primary-color: #89db81;
    --inveted-secondary-color: #7180a1;

    --error-color: #d32f2f

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-bg: #fff
}
